{% extends 'base.html.twig' %}

{% block title %}Montre index{% endblock %}

{% block body %}
    <h1>Montre index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Stock</th>
                <th>ImageUrl</th>
                <th>DateAjout</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for montre in montres %}
            <tr>
                <td>{{ montre.id }}</td>
                <td>{{ montre.nom }}</td>
                <td>{{ montre.description }}</td>
                <td>{{ montre.prix }}</td>
                <td>{{ montre.stock }}</td>
                <td>{{ montre.imageUrl }}</td>
                <td>{{ montre.dateAjout ? montre.dateAjout|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_montre_show', {'id': montre.id}) }}">show</a>
                    <a href="{{ path('app_montre_edit', {'id': montre.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_montre_new') }}">Create new</a>
{% endblock %}
